{% load static %}
<section id="features" class="process">
    <div class="process__inner">
       <h3 class="process__title">
         How to order in 4 steps
       </h3>
       <div class="process__list">
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/icons-03.png' %}" width="70" height="70" alt="Human Voice">
             </div>
             <h4 class="process__item-title">Step 1: Go to Amazon</h4>
             <p class="process__item-desc">
               Find all the details you need about the product
             </p>
          </div>
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/icons-04.png' %}" width="67" height="67" alt="Embeddable Player">
             </div>
             <h4 class="process__item-title">
                Step 2: Complete Your Order
             </h4>
             <p class="process__item-desc">
               You go ahead with your Order from a reliable platform 
             </p>
          </div>
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/icons-02.png' %}" width="86" height="86" alt="Distribution">
             </div>
             <h4 class="process__item-title">
                Step 3: Product is carefully packed
             </h4>
             <p class="process__item-desc">
               The right packaging is used to ensure the quality of the product
             </p>
          </div>
          <div class="process__item">
             <div class="process__item-img">
                <img src="{% static 'img/icons-01.png' %}" width="86" height="86" alt="Analytics">
             </div>
             <h4 class="process__item-title">
                Step 4: Fast Delivery
             </h4>
             <p class="process__item-desc">
               The product is shipped to your door 
             </p>
          </div>
       </div>
    </div>
 </section>