{% load static %}

<section class="match-demand">
    <div class="match-demand__wrapper">
       <div class="match-demand__inner">
          <div class="match-demand__content-col">
             <h3 class="match-demand__title">About Us</h3>
             <p class="match-demand__subtitle">We are dedicated to setting ourselves apart by listening to what our customers want, then creating custom dietary formulas from 100% natural ingredients that exceed customer expectations and help as many people as possible.</p>
             <p class="match-demand__promo">Our products adhere to GMP and FDA compliance</p>
          </div>
       </div>
    </div>
 </section>